<%= form_tag "/access_nodes/setconfig" do  %>
  <%= hidden_field_tag "id", @access.id %>
  <div class="field">
    <%= select_tag :cmdline, "<option value='reboot'>重启设备</option><option value='wdctl clean'>免认证</option><option value='wdctl stop'>关闭进程</option><option value='wdctl restart'>进程重启</option><option value='upgrade http://117.34.78.195/irouter.img'>远程升级</option><option value='wget http://117.34.78.195/wifidog.conf -O /etc/wifidog.conf'>文件更新</option>".html_safe %>
  </div>
  <%= submit_tag "远程管理", class: "btn btn-large btn-primary" %>
<% end %>
